@page
@model MyStore.Pages.Stats.IndexModel
@{
}

<h2>Stats</h2>
<a class="btn btn-primary btn-sm" href="/Stats/SalaryStats">Salary Stats</a>
<a class="btn btn-primary btn-sm" href="/Stats/Resources">Resources</a>
